<?xml version="1.0"?>

<robot name="iris" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Properties that can be assigned at build time as arguments.
  Is there a reason not to make all properties arguments?
  -->
  <xacro:arg name='name' default='floating_sensor' />
  <xacro:arg name='namespace' default='floating_sensor' />
  <xacro:arg name='mavlink_addr' default='INADDR_ANY' />
  <xacro:arg name='mavlink_udp_port' default='14560' />
  <xacro:arg name='visual_material' default='DarkGrey' />
  <xacro:arg name='enable_mavlink_interface' default='true' />
  <xacro:arg name='enable_wind' default='false' />
  <xacro:arg name='enable_ground_truth' default='true' />
  <xacro:arg name='enable_logging' default='false' />
  <xacro:arg name='log_file' default='iris' />

  <!-- macros for gazebo plugins, sensors -->
  <xacro:include filename="$(find victim_localization)/urdf/iris_accessories/component_snippets.xacro" />


  <!-- Instantiate iris "mechanics" -->
  <xacro:include filename="$(find victim_localization)/urdf/iris_accessories/iris.xacro" />



  <!-- forward facing camera -->

  <xacro:include filename="$(find victim_localization)/urdf/iris_accessories/realsense_camera.urdf.xacro"/>
 <xacro:realsense_camera name="front_cam" parent="base_link">
 <origin xyz="0.0 0.0 -0.05" rpy="0 0.26179 0"/> <!--15 deg for pitch -->  <!-- previous "0.0 0.0 -0.05" rpy="0 0.26179 0"/> -->
  </xacro:realsense_camera>


</robot>

