<launch>
  <!-- Launch the grid map simple demo node -->

    <arg name="tf_frame" default="world" />
    <arg name="mesh_resolution" default="1.0" />
    <arg name="resolution" default="0.3" />
    <arg name="visualize_max_z" default="2.5" />
    <arg name="sensor_max_range" default="9.0" />
    <arg name="param_file" default="$(find rrt_explorer)/resource/exploration.yaml" />

   <node pkg="victim_localization" type="pointc" name="pointc" output="screen" >
          <param name="tf_frame" type="string" value="$(arg tf_frame)" />
          <param name="resolution" type="double" value="$(arg resolution)" />
          <param name="visualize_max_z" type="double" value="$(arg visualize_max_z)" />
          <param name="sensor_max_range" type="double" value="$(arg sensor_max_range)" />
          <param name="mesh_resolution" type="double" value="$(arg mesh_resolution)" />
          <param name="map_publish_frequency" type="double" value="1.0" />
          <rosparam command="load" file="$(arg param_file)" />
   </node>
</launch>
